body{
    display: block;
    margin: 8px;
    margin-top: 8px;
    margin-right: 8px;
    margin-bottom: 8px;
    margin-left: 8px;
}

#image {
    margin-left: 650px;
}

div {
    display: block;
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    text-align: center;
}

table {
    font-family: Garamond, serif;
    font-weight: bold;
    border-collapse: collapse;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}

table {
    display: table;
    border-collapse: separate;
    box-sizing: border-box;
    text-indent: initial;
    border-spacing: 2px;
    border-color: mediumorchid;
}

tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
    border-top-color: inherit;
    border-right-color: inherit;
    border-bottom-color: inherit;
    border-left-color: inherit;
}

tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

tr:nth-child(even) {
    background-color: lavender;
}

th,td {
    border: 1px solid plum;
    text-align: left;
    padding: 8px;
}

a:link {
    color: black;
    background-color: transparent;
    text-decoration: none;
}
a:visited {
    color: rgb(144, 129, 147);
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    color: rgb(94, 26, 98);
    background-color: transparent;
    text-decoration: none;
}
a:active {
    color: black(27, 27, 4);
    background-color: transparent;
    text-decoration: none;
}